.fullscreen-bg {
	display: table;
	position: relative;
	width: 100%;

	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	&.section-1 {
		height: 360px;
		background: url('../images/bg-1.jpg') no-repeat;
		background-size: cover;
	}

	&.section-3 {
		height: 430px;
		background: url('../images/bg-2.jpg') no-repeat;
		background-size: cover;
	}
}