body {
	color: $text;
	font-family: 'Open Sans', sans-serif;

	&.no-scroll {
		overflow: hidden;
	}
}

.max-w {
	max-width: 1280px;
	margin: 0 auto;
}

.section {
	position: relative;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	background: $secondary;

	&:nth-child(odd),
	&.section-2 {
		background: $primary;
	}

	> .row {
		max-width: 1024px;
		margin: 0 auto;
	}

	.col-md-12 {
		text-align: center;
	}

	.image {
		display: none;
		position: absolute;
		top: 0;
	}
}

.section-4 {
	padding-top: 50px;
	padding-bottom: 100px;
}

.alimentation {
	padding-top: 30px;
	padding-bottom: 30px;
	.image {
		top: initial;
		right: 0;
		bottom: 0;
	}
}

.sportif {
	.image {
		top: 50%;
		left: 50px;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);

    	img {
    		height: 400px;
    	}
	}
}

.sante {
	.image {
		top: 50%;
		right: 50px;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);

    	img {
    		height: 400px;
    	}
	}
}

.trouble {
	.image {
		top: 50%;
		right: 200px;
		transform: translateY(-50%);

		img {
			height: 325px;
		}
	}
}

.arthrose {
	.image {
		top: 10px;
		left: 0;

		img {
			height: 500px;
		}
	}
}

.cardiologie {
	.image {
		top: 50%;
		left: 100px;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
	}
}

iframe {
	width: 100%;
}

.contact {
	p {
		margin-bottom: 10px;
	}

	h2 {
		margin: 20px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	ul {
		li {
			margin-bottom: 10px;
		}
	}
}