body {
	color: $text;
	font-family: 'Open Sans', sans-serif;

	&.no-scroll {
		overflow: hidden;
	}
}

.max-w {
	max-width: 1280px;
	margin: 0 auto;
}

.section {
	position: relative;
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	background: $secondary;

	&:nth-child(odd),
	&.section-2 {
		background: $primary;
	}

	> .row {
		max-width: 1024px;
		margin: 0 auto;
	}

	.col-md-12 {
		text-align: center;
	}

	.image {
		display: none;
		position: absolute;
		top: 0;
	}
}

.section-4 {
	padding-top: 50px;
	padding-bottom: 100px;
}

.section-5 {
	padding-top: 30px;
	padding-bottom: 30px;
	.image {
		top: -30px;
		right: 0;
	}
}

.section-7 {
	.image {
		top: 50%;
		left: 50px;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
	}
}

.section-11 {
	.image {
		top: 50%;
		right: 50px;
    	-ms-transform: translateY(-50%);
    	transform: translateY(-50%);
	}
}

.section-13 {
	.image {
		left: 0;
	}
}

iframe {
	width: 100%;
}

.contact {
	p {
		margin-bottom: 10px;
	}

	h2 {
		margin: 20px 0;
		&:first-child {
			margin-top: 0;
		}
	}
	
	ul {
		li {
			margin-bottom: 10px;
		}
	}
}