@media screen and (min-width: 992px) {
	.section {
		.image {
			display: block;	
		}
	}
}

@media screen and (max-width: 1900px) {
	.section {
		&.sante {
			.image {
				right: 0;
			}
		}
	}
}

@media screen and (max-width: 1600px) {
	.section {
		&.alimentation {
			.image {
				top: initial;
				bottom: 0;

				img {
					height: 570px;
				}
			}
		}

		&.sportif {
			.image {
				img {
					height: 275px;
				}
			}
		}

		&.sante {
			.image {
				right: 0;

				img {
					height: 300px;
				}
			}
		}

		&.trouble {
			.image {
				right: 50px;
			}
		}
	}
}

@media screen and (max-width: 1280px) {
	.section {
		&.alimentation {
			.image {
				top: initial;
				bottom: 0;

				img {
					height: 490px;
				}
			}
		}

		&.sportif {
			.image {
				img {
					height: 175px;
				}
			}
		}

		&.sante {
			.image {
				right: 0;

				img {
					height: 220px;
				}
			}
		}

		&.trouble {
			.image {
				right: 0px;
			}
		}

		&.cardiologie {
			.image {
				left: 0;

				img {
					height: 285px;
				}
			}
		}

		&.diabete {
			.image {
				bottom: 30px;
				img {
					height: 350px;
				}
			}
		}
	}

	nav ul li a {
		font-size: 12px;
	}
}

@media screen and (max-width: 1024px) {
	.rst-bfr-afr {
		&:before,
		&:after {
			display: none;
		}
	}

	.fullscreen-bg {
		h1 {
			width: 100%;
			top: 10%;
			left: initial;
			transform: translate(0, 0);
			-ms-transform: translate(0, 0);
		}
	}

	.section {
		&.diabete {
			.image {
				img {
					height: 300px;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	h3 {
		&:before,
		&:after {
			display: none;
		}
	}
}

@media screen and (max-width: 992px) {
	header {
		position: fixed;
		top: 0;
		z-index: 10;
		width: 100%;
		background: #fff;
	}

	.section-1 {
		margin-top: 75px;
	}

	.nav-desktop {
		display: none;
	}

	.nav-mobi-toggle {
		display: block;
	}

	.section-2 {
		.col-md-4 {
			margin-top: 30px;
			&:first-child {
				margin-top: 0;
			}
		}
	}
}