/**********************************/
/************ Colors **************/
/**********************************/
$primary: #fff;
$secondary: #f2f2f2;

$red: #f03131;
$green: #4aa309;
$blue: #36b3d2;

$text: #5a5a5a;
$link: #36b3d2;